/* ============= VARIABLES ============= */

:root {
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --secondary-white: #f4f4fd;
  --blue: #4d5ae5;
  --white: #ffffff;
  --secondary-blue: #404bbf;
  --third-white: #e7e9fc;
}

/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--white);
}

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============= /COMMON STYLES ============= */

/* ============= PAGE HEADER ============= */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigation {
  /* -container- */
  display: flex;
  align-items: center;
}

.logo-header {
  display: block;
  padding: 24px 0;

  /* -typography- */
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
}

.open-mobile-menu {
  padding: 0;
  border: none;
  background: transparent;
  line-height: 0;
}

.open-mobile-icon {
  stroke: var(--secondary-color);
}

.logo-header-second {
  color: var(--secondary-color);
}

.menu {
  display: none;
  gap: 40px;
}

.menu-link-first:hover,
.menu-link-first:focus,
.menu-link-second:hover,
.menu-link-second:focus,
.menu-link-third:hover,
.menu-link-third:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--secondary-blue);
}

.menu-link-first {
  /* -size- */
  padding-top: 24px;
  padding-bottom: 24px;

  /* -typography- */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-link-second {
  /* -size- */
  padding-top: 24px;
  padding-bottom: 24px;

  /* -typography- */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.current {
  position: relative;
  color: var(--secondary-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-first.current::after {
  content: "";

  /* -position- */
  position: absolute;
  left: 0;
  bottom: -1px;

  /* -size- */
  width: 100%;
  height: 4px;

  /* -color- */
  background-color: var(--secondary-blue);

  /* -displaing- */
  border-radius: 2px;
}

.menu-link-second.current::after {
  content: "";

  /* -position- */
  position: absolute;
  left: 0;
  bottom: -1px;

  /* -size- */
  width: 100%;
  height: 4px;

  /* -color- */
  background-color: var(--secondary-blue);

  /* -displaing- */
  border-radius: 2px;
}

.menu-link-third {
  /* -size- */
  padding-top: 24px;
  padding-bottom: 24px;

  /* -typography- */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.page-contacts {
  display: none;

  /* -typography- */
  font-style: normal;
}

.contacts-link {
  /* -typography- */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* -text color- */
  color: var(--main-color);

  /* -bridge- */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-container {
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-mobile-menu {
  top: 24px;
  right: 24px;
  position: absolute;
  line-height: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mob-nav-link {
  font-size: 36px;
  font-weight: 700;
  color: var(--secondary-color);
  line-height: calc(40 / 36);
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mob-nav-active {
  color: var(--secondary-blue);
}

.mob-contact-list {
  margin-bottom: 48px;
}

.mob-contact-tel {
  color: var(--iris, #4d5ae5);
  font-size: 20px;
  font-weight: 700;
  line-height: calc(40 / 20);
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mob-contact-mail {
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
}

.mob-soc-list {
  display: flex;
  justify-content: space-between;
}

.mob-soc-item {
  height: 40px;
  width: 40px;
}

.mob-soc-link {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mob-soc-icon {
  fill: var(--secondary-white);
}

/* ============= /PAGE HEADER ============= */

/* ============= STUDIO PAGE ============= */
.page-hero {
  margin: 0 auto;
  max-width: 1440px;

  /* -background- */
  background-color: var(--secondary-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .page-hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mob-2x.jpg);
  }
}

.page-hero-header {
  max-width: 320px;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-hero-button {
  display: block;
  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.page-hero-button:hover,
.page-hero-button:focus {
  background-color: var(--secondary-blue);
}

.page-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-container {
  display: none;
}

.section-header {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.section-benefits-header {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.section-benefits-text {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.section-team-header {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.social-icon-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-teammate {
  width: 40px;
  height: 40px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  color: var(--secondary-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  background-color: var(--secondary-blue);
}

.social-icon-teammate {
  fill: currentColor;
}

.section-team-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.page-features {
  display: none;
}

.page-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--secondary-white);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.teammate {
  min-width: 264px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.teammate-data {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customer {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon:hover,
.customer-icon:focus {
  border-color: var(--secondary-blue);
  color: var(--secondary-blue);
}

.icon-customer {
  fill: currentColor;
}

/* ============= /STUDIO PAGE ============= */

/* ============= PORTFOLIO PAGE ============= */
.page-portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  border: 1px solid var(--third-white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue);
  background-color: var(--secondary-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--secondary-blue);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolios {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover,
.portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  outline: none;
}

.portfolio:hover .text-container,
.portfolio:focus .text-container {
  transform: translateY(0%);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.text-container {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-white);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app {
  padding: 32px 16px;
  border: 1px solid var(--third-white);
  border-top: none;
}

.section-portfolio-header {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.section-portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* ============= /PORTFOLIO PAGE ============= */

/* ============= PAGE FOOTER ============= */

.page-footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--secondary-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-third {
  width: 100%;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
  text-align: center;
}

.logo-footer-second {
  color: var(--secondary-white);
}

.text-footer {
  width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-white);
}

.footer-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.label-footer {
  margin-bottom: 0;
}

.social-footer-item {
  width: 40px;
  height: 40px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  color: var(--secondary-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer:hover,
.social-footer:focus {
  background-color: #31d0aa;
}

.social-icon-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  fill: currentColor;
}

/* .footer-second {
  margin-right: 80px;
} */

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-title {
  margin-bottom: 16px;
}

.email-input-footer {
  width: 100%;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.email-input-footer::placeholder {
  color: var(--white);
}

.email-input-footer:hover::placeholder,
.email-input-footer:focus::placeholder {
  color: #31d0aa;
}

.submit-btn-footer {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
}

.submit-btn-footer:hover,
.submit-btn-footer:focus {
  background: var(--secondary-blue);
}

.icon-send {
  margin-left: 16px;
  fill: var(--white);
}

/* ============= /PAGE FOOTER ============= */

/* ============= MODAL ============= */
.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  padding: 72px 16px 24px 16px;
}

.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: var(--secondary-blue);
  border: none;
}

.close-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-modal-icon,
.close-modal:focus .close-modal-icon {
  fill: var(--white);
}

.modal-form-title {
  color: var(--secondary-color);
  text-align: center;
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-inputs {
  margin-bottom: 8px;
}

.modal-input {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-container {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus {
  border-color: var(--blue);
}

.modal-input-field:focus + .modal-icon {
  fill: var(--blue);
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-textarea-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-input:focus {
  border-color: var(--blue);
}

.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-input:checked + .checbox-text > .checbox-box {
  background-color: var(--secondary-blue);
  border: none;
  fill: var(--secondary-white);
}

.checbox-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-link {
  color: var(--blue);
}

.form-button {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--blue);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background: var(--secondary-blue);
}
